<div class="col-md-12 nested-fields">
  <div class="form-group">
    <%= f.label :title, :class => 'control-label' %>
    <%= f.text_field :title, :class => 'form-control' %>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :content, :class => 'control-label' %>
      <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {toolbar: 'mini'} %>
    <%=f.error_span(:content) %>
  </div>

  <div class="mt-3 text-center">
    <%= link_to_remove_association "Remove Detail Treatment", f, class:"btn btn-danger" %>
  </div>
</div>


<script type="text/javascript">
  $('.dropify').dropify();
</script>
