<% if @treatment.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@treatment.errors.count, "error") %> prohibited this treatment from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @treatment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
<%= form_for @treatment, :html => { :class => "form-horizontal treatment" } do |f| %>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <%= f.label :title, :class => 'control-label' %>
      <%= f.text_field :title, :class => 'form-control' %>
      <%=f.error_span(:title) %>

      <%= f.label :slug, :class => 'control-label' %>
      <%= f.text_field :slug, :class => 'form-control' %>
      <%=f.error_span(:slug) %>
    </div>
    <div class="form-group">
      <%= f.label :meta_description, :class => 'control-label' %>
      <%= f.text_area :meta_description, :class => 'form-control', rows: 5 %>
      <%=f.error_span(:meta_description) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3>Image Thumbail</h3>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :image, :class => 'control-label' %>
        <% if @treatment.image.nil? || @treatment.image.blank? %>
        <%= f.file_field :image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K'  %>
        <% else %>
        <%= f.file_field :image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K' , 'data-default-file' => @treatment.image.url %>
        <% end %>
        <%=f.error_span(:image) %>
      </div>
      <div class="col-md-6">
        <%= f.label :cover_image, :class => 'control-label' %>
        <% if @treatment.cover_image.nil? || @treatment.cover_image.blank? %>
        <%= f.file_field :cover_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K'  %>
        <% else %>
        <%= f.file_field :cover_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K' , 'data-default-file' => @treatment.cover_image.url %>
        <% end %>
        <%=f.error_span(:cover_image) %>
      </div>
    </div>
    <hr>
    <h3>Sliders</h3>
    <hr>
    <div class="row" id="sliders">
      <%= f.fields_for :sliders do |slider| %>
      <%= render 'slider_fields', f: slider %>
      <% end %>
      <div class="col-md-4">
        <%= link_to_add_association 'add image', f, :sliders, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {toolbar: 'mini'} %>
          <%=f.error_span(:content) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3>Treatment Detail</h3>
    <hr>
    <div class="form-group">
      <%= f.label :treatment_detail_title, :class => 'control-label' %>
      <%= f.text_field :treatment_detail_title, :class => 'form-control' %>
      <%=f.error_span(:treatment_detail_title) %>
    </div>
    <div class="form-group">
      <%= f.label :treatment_detail_description, :class => 'control-label' %>
      <%= f.text_area :treatment_detail_description, :class => 'form-control', rows: 5 %>
      <%=f.error_span(:treatment_detail_description) %>
    </div>
    <h3>List Treatment</h3>
    <hr>
    <div class="row" id="sliders">
      <%= f.fields_for :detail_treatments do |detail_treatment| %>
      <%= render 'detail_treatment_fields', f: detail_treatment %>
      <% end %>
      <div class="col-md-4">
        <%= link_to_add_association 'add Detail Treatment', f, :detail_treatments, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-body">

    <div class="form-group">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), treatments_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>



<% end %>
