
<div class="quote-area position-relative" style="background: rgba(0, 0, 0, 0) url('<%= @treatment.cover_image %>') no-repeat fixed center bottom / cover ;padding: 200px 0;  position: relative;">
  <div style="position: absolute;top: 0;left: 0; width: 100%;height: 100%; background-color:rgba(6, 6, 6, 0.18);">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <p style="font-size:30px;color:white;text-transform:uppercase">
          <%= @treatment.title %>
        </p>
      </div>
    </div>
  </div>
</div>
<section class="position-relative" >


  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 style="font-weight: 900;">
          <%= @treatment.title %>
        </h1>

        <% unless @treatment.sliders.count == 0 %>
        <div id="treatment_slider" class="carousel slide carousel-fade mt-3" data-ride="carousel">
          <% @treatment.sliders.each do |x, i| %>
          <div class="carousel-inner">
            <div class="carousel-item <% if i == 0 %> active <% end %>">
              <img src="/assets/slider child 1.jpg" alt="" class="w-100">
            </div>
          </div>
          <% end %>
          <a class="carousel-control-prev" href="#treatment_slider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#treatment_slider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <% end %>
      </div>
      <div class="col-md-8">
        <%= @treatment.content.html_safe %>
      </div>
    </div>
  </div>
</section>

<% unless @treatment.detail_treatments.empty? %>
<section class="quote-area position-relative" style="background: rgba(0, 0, 0, 0) url('<%= @treatment.cover_image %>') no-repeat fixed center bottom / cover ;padding: 200px 0;  position: relative;">
  <div style="position: absolute;top: 0;left: 0; width: 100%;height: 100%; background-color:rgba(6, 6, 6, 0.7);">
  </div>

  <div class="container position-relative">

    <div class="mb-4">
      <h3 class="text-white"><%= @treatment.treatment_detail_title %></h3>
      <p class="text-white"><%= @treatment.treatment_detail_description %></p>
    </div>

    <div class="row">
      <% @treatment.detail_treatments.each do |x| %>
      <div class="col-md-<%= count_row(@treatment.detail_treatments.count) %>">
        <h3 class="text-white"><%= x.title %></h3>
        <div class="text-white">
          <%= x.content.html_safe %>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</section>

<% end %>
