<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @slider.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @slider.title %>
</p>

<p>
  <strong>Page:</strong>
  <%= @slider.page_id %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @slider.caption %>
</p>

<%= link_to 'Edit', edit_slider_path(@slider) %> |
<%= link_to 'Back', sliders_path %>
