/* helper */


body{
  font-family: 'Raleway', sans-serif;
  color: #444444;
}
h1, h2, h3{
  font-weight: 700;
}

.navbar-brand img{
  height: 70px;
}

a:hover {
  color: #212529;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.navbar-nav .nav-link {
  color: white;

}

.scrolled .navbar-nav .active>.nav-link{
  color: rgb(37, 50, 148);


}

.navbar-nav .nav-link:focus,  .navbar-nav .nav-link:hover {
  color: rgb(37, 50, 148);

}

.scrolled .navbar-nav .nav-link {
  color: rgb(10, 149, 216);
}

.main h1{
  color: #2e2d9f;
  font-weight: 900;
  font-size: 50px;
}
.main p{
  color: #333;
}

section{
  padding: 60px 0;
}

#service h2{
  font-size: 40px;
  color: white;
}
#service p{
  color: white;
}
.service1{
  background-color: #36859b;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #1a236b;
}

.service2{
  background-color: #dfba56;
}

.service3{
  color: #55a1b8;
}

.service1 h3{
  color: white;
  font-size: 30px;
}

.card-title{
  color: rgb(37, 50, 148)
}
.scrolled{
  background-color: white !important;
  transition: background-color 200ms linear;
}


.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}

.footer a {
    color: grey;
}

.frame{
  border: 2px solid #2e3191;
  border-radius: 50%;
}

.article img{
  width: 100%;
  height: auto;
}

.blue-trs{
position: absolute;top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(156, 236, 251, 0.7); /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgba(156, 236, 251, 0.7),  rgba(101, 199, 247, 0.7),rgba(0, 82, 212, 0.7)); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgba(156, 236, 251, 0.7),  rgba(101, 199, 247, 0.7),rgba(0, 82, 212, 0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}

.x-card-title{
  font-size: 20px;
  font-weight: 300;
}
.ctr-nav .active{
  color:#1a236b
}

section.events i{
  font-size: 24px !important;
  margin-right: 5px;
}

section.events h3{
  font-size: 20px;
}
