@media (max-width: 575.98px) {

  #main-nav{
    background: white !important;
  }

  #main-nav .navbar-nav .active>.nav-link{
    color: rgb(37, 50, 148);


  }

  .navbar-nav .nav-link:focus,  .navbar-nav .nav-link:hover {
    color: rgb(37, 50, 148);

  }

  #main-nav .navbar-nav .nav-link {
    color: rgb(10, 149, 216);
  }

  .mb-sm-10{
    margin-bottom: 10px;
  }

  .mb-sm-30{
    margin-bottom: 30px;
  }



  #header{
    position: sticky !important;
    top: 0;
  }
  #logo-position{
    width: 100%;
  }
  .navbar-brand{
    width: 25% !important;
    margin: 0 10px;
  }
  .navbar-toggler{
    margin: 10px;
    float: right;
  }
  .navbar-nav{
    width: 100%;
    border-top: 2px solid #eeee;
  }
  .nav-item {
    display: block;
    padding: 5px 20px;
  }

  .navbar-brand img{
    max-height: 50px !important;
  }

  .image-box.effect.dia .image-box-content {
    transform: translate3d(0, 80%, 0);
  }

  .nav.nav-pills .nav-item {
    display: block;
    padding:0;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .caption-slider-mobile{
    background-color: #333;
  }
  .caption-slider-mobile h3 {
    font-size: 16px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
  }

  .article-title {
    font-size: 30px;
  }
  .home-slider .owl-nav .owl-next {
    position: absolute;
    right: 0 !important;
    color: #7f7c7c !important;
}
.home-slider .owl-nav .owl-prev {
    position: absolute;
    left: 0 !important;
    color: #7f7c7c !important;
}

.article h1{
  font-size: 1.5em
}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

  #main-nav{
    background: white;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  section {
    margin: 20px 0;
  }

  #header{
    position: sticky !important;
    top: 0;
  }
  #logo-position{
    width: 100%;
  }
  .navbar-brand{
    width: 25% !important;
    margin: 0 10px;
  }
  .navbar-toggler{
    margin: 10px;
    float: right;
  }
  .navbar-nav{
    width: 100%;
    border-top: 2px solid #eeee;
  }
  .nav-item {
    display: block;
    padding: 5px 20px;
  }

  .navbar-brand img{
    max-height: 50px !important;
  }

  .image-box.effect.dia .image-box-content {
    transform: translate3d(0, 80%, 0);
  }

  .nav.nav-pills .nav-item {
    display: block;
    padding:0;
    margin-right: 10px;
    margin-bottom: 10px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #header{
    position: sticky !important;
    top: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
