<%= form_with(model: detail_treatment, local: true) do |form| %>
  <% if detail_treatment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detail_treatment.errors.count, "error") %> prohibited this detail_treatment from being saved:</h2>

      <ul>
      <% detail_treatment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :treatment_id %>
    <%= form.text_field :treatment_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
