<p id="notice"><%= notice %></p>

<h1>Detail Treatments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Treatment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detail_treatments.each do |detail_treatment| %>
      <tr>
        <td><%= detail_treatment.title %></td>
        <td><%= detail_treatment.content %></td>
        <td><%= detail_treatment.treatment %></td>
        <td><%= link_to 'Show', detail_treatment %></td>
        <td><%= link_to 'Edit', edit_detail_treatment_path(detail_treatment) %></td>
        <td><%= link_to 'Destroy', detail_treatment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detail Treatment', new_detail_treatment_path %>
