<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @detail_treatment.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @detail_treatment.content %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @detail_treatment.treatment %>
</p>

<%= link_to 'Edit', edit_detail_treatment_path(@detail_treatment) %> |
<%= link_to 'Back', detail_treatments_path %>
