<%= form_for @article, :html => { :class => "form-horizontal article" } do |f| %>

<% if @article.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :title, :class => 'control-label' %>
          <%= f.text_field :title, :class => 'form-control' %>
          <%=f.error_span(:title) %>
        </div>
        <div class="form-group">
          <%= f.label :meta_description, :class => 'control-label' %>
          <%= f.text_area :meta_description, :class => 'form-control', rows: 5,maxlength:"230" %>
          <%=f.error_span(:meta_description) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :image,"Slider Image", :class => 'control-label' %>
          <% if  @article.image.nil? or @article.image.blank? %>
          <%= f.file_field :image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K'  %>
          <% else %>
          <%= f.file_field :image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K' , 'data-default-file' => @article.image.url %>
          <% end %>
          <%=f.error_span(:image) %>
    </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :category_id, :class => 'control-label' %>
          <%= f.select :category_id, Category.all.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2"%>
          <%=f.error_span(:category_id) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :writer_id, :class => 'control-label' %>
          <%= f.select :writer_id, Writer.all.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2"%>
          <%=f.error_span(:writer_id) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <%= f.label :content, :class => 'control-label' %>
        <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {toolbar: 'mini'} %>
      <%=f.error_span(:content) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        articles_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>

<% end %>
