<section class="article" style="margin-top:10vh;">
  <div class="container">
    <div class="d-block">
      <h1><%= @article.title %></h1>
      <span>Written by <strong> <a href="/writers/<%= @article.writer.slug %>"><%= @article.writer.title %></a></strong> <% if @article.id == 6 %> and Dr. Dewi Agung Tirtaningsih<%end%></span>
    </div>

      <div class="row justify-content-between">
        <div class="pl-3 mb-0">
          <div class="sticky-top mt-4 text-right" style="top:150px;">
            <ul class="list-unstyled text-left d-md-block d-none">
              <li class="social-facebook mb-2">
                <a href="#"  class="fb-share" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=www.behave.rehab/blog/<%= @article.slug %>','facebook-share-dialog','width=626,height=436');return false;">
                  <img src="https://img.icons8.com/material-sharp/32/000000/facebook.png">
                </a>
              </li>
              <li class="social-twitter mb-2">
                <a target="_blank" href="https://twitter.com/intent/tweet?text=<%= @article.title %> , read more at: http://www.behave.rehab/blog/<%= @article.slug %>">
                  <img src="https://img.icons8.com/ios-glyphs/32/000000/twitter.png">
                </a>
              </li>
              <li class="social-wa mb-2">
                <a target="_blank" href="https://wa.me/?text=<%= u "#{@article.title} - http://behave.rehab/#{@article.slug}" %>">
                  <img src="https://img.icons8.com/material/32/000000/whatsapp.png">
                </a>
              </li>
            </ul>
          </div>
          <div class="d-md-none d-sm-block text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#"  class="fb-share" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=www.behave.rehab/blog/<%= @article.slug %>','facebook-share-dialog','width=626,height=436');return false;">
                  <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://twitter.com/home?status=<%= @article.title %> , read more at: http://www.behave.rehab/blog/<%= @article.slug %>">
                  <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://wa.me/?text=<%= u "#{@article.title} - http://behave.rehab/#{@article.slug}" %>">
                  <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-8 mt-md-4 mt-sm-0 col mb-3 mb-md-0">
          <div class="article mt-0">
            <%= @article.content.html_safe %>
          </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
          <div class="mb-3" style="top:150px;">
            <h3>Artikel Terkait</h3>
            <hr>
            <% @related.each_with_index do |x, i|  %>
            <a href="<%= blog_detail_path(x) %>">
              <%= x.title %>
            </a>
            <hr>
            <% end %>
          </div>
          <% unless @last_event.end_date < Date.today %>

          <div class="sticky-top " style="top:150px;">
           <h3>Upcoming Event</h3>
           <a href="<%= event_path(@last_event.slug) %>" class="text-dark">
             <img src="<%= @last_event.image %>" alt="<%= @last_event.title %>" class="w-100 mb-3">
             <p >
               <%= @last_event.meta_description %>
             </p>
           </a>
           <a href="<%= event_path(@last_event.slug) %>" class="btn btn-primary">
             Readmore
           </a>
         </div>
         
       <% end %>



        </div>

      </div>

  </div>
</section>
