<%- model_class = User -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">User Profile</h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= app_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="<%= users_path %>"><%= model_class.model_name.human.pluralize.titleize %></a></li>
            <li class="breadcrumb-item">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <center class="mt-3">
            <% unless @user.avatar.nil? || @user.avatar.blank? %>
              <img src="<%= @user.avatar.url rescue '' %>" alt="" class="rounded-circle" width="150">
            <% else %>
              <img src="<%= asset_url('pikachu.png') %>" alt="" class="rounded-circle" width="150">
            <% end %>
            <h4 class="card-title m-t-10"><%= @user.username rescue '-' %></h4>
            <h6 class="card-subtitle"><%= @user.role %></h6>
          </center>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-xs-6 b-r">
              <strong><%= model_class.human_attribute_name(:name) %></strong>
              <p class="text-muted"><%= @user.name %></p>
            </div>
            <div class="col-md-3 col-xs-6 b-r">
              <strong><%= model_class.human_attribute_name(:email) %></strong>
              <p class="text-muted"><%= @user.email %></p>
            </div>
            <div class="col-md-3 col-xs-6 b-r">
              <strong><%= model_class.human_attribute_name(:last_sign_in_at) %></strong>
              <p class="text-muted"><%= @user.last_sign_in_at %></p>
            </div>
            <div class="col-md-12">
              <strong><%= model_class.human_attribute_name(:bio) %></strong>
              <p class="text-muted"><%= @user.bio %></p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col text-center">
              <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn btn-light'  %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn btn-warning' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
