<%= form_for @video, :html => { :class => "form-horizontal video" } do |f| %>

  <% if @video.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @video.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :youtube_url,"Url video Youtube", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.url_field :youtube_url, :class => 'form-control' %>
    </div>
    <%=f.error_span(:youtube_url) %>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                videos_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
