<section class="events" style="margin-top:10vh;">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="<%= @event.image %>" alt="<%= @event.title %>" class="w-100">
        <hr>
        <div class="d-block">
          <div class="d-flex">
            <div class="mr-2" style="width:25px">
              <i class="fa fa-calendar-times-o" aria-hidden="true"></i>
            </div>
            <div class="d-block">
              <% if @event.start_date == @event.end_date %>
              <h3> <%= @event.start_date.strftime(" %e %B %Y") rescue "-" %></h3>
              <% else %>
              <h3><%= @event.start_date.strftime("%e %B %Y") rescue "-" %> - <%= @event.end_date.strftime("%e %B %Y") rescue "-" %></h3>
              <% end %>
            </div>
          </div>
        </div>
        <hr>
        <div class="d-block">
          <div class="d-flex">
            <div class="mr-2" style="width:20px">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="d-block">
              <h3><%= @event.venue_name %></h3>
            </div>
          </div>
        </div>
        <hr>
        <div class="d-block">
          <div class="d-flex">
            <div class="mr-2" style="width:20px">
              <i class="fa fa-ticket" aria-hidden="true"></i>
            </div>
            <div class="d-block">
              <h3>Rp. <%= @event.price %></h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <h1><%= @event.title %></h1>
        <hr>
        <%= @event.content.html_safe %>
        <hr>
        <%= @event.map.html_safe %>
      </div>
    </div>
  </div>

</section>
