<div class="quote-area" style="background: rgba(0, 0, 0, 0) url('<%= @page.cover_image %>') no-repeat fixed center  / cover ;padding: 250px 0;  position: relative;">
  <div style="position: absolute;top: 0;left: 0; width: 100%;height: 100%; background-color:rgba(6, 6, 6, 0.18);">&nbsp;</div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <p style="font-size:30px;color:white;"><%= @page.title.upcase %></p>
      </div>
    </div>
  </div>
</div>

<section class="pb-0">
  <div class="container">
    <div class="text-center position-relative mb-5">
      <h1 style="font-size:30px;color:rgb(37, 50, 148);text-transform:uppercase">MEET OUR TEAM</h1>
    </div>
    <div class="row">
      <% Doctor.all.each do |x| %>
      <div class="col-md-12 mb-3">
        <div class="row">
          <div class="col-2">
            <div class="w-100 m-auto d-block"><img alt="<%= x.title %>" class="w-100 frame" src="<%= x.image %>"></div>
          </div>
          <div class="col-10">
            <div class="text-left">
              <h2><%= x.title %></h2>
              <p class="text-justify">
                <%= x.description %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>


  </div>

</section>

<section class="pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <hr />
        <div class="text-center">
          <h1 style="font-size:30px;color:rgb(37, 50, 148);;text-transform:uppercase">OUR STORY</h1>
        </div>

        <div>
          <%= @page.our_story.html_safe %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="quote-area position-relative" style="background: rgba(0, 0, 0, 0) url('assets/image-about.jpg') no-repeat fixed center top / cover ;padding: 100px 0 ;  position: relative;">
  <div style="position: absolute;top: 0;left: 0; width: 100%;height: 100%; background-color:rgba(6, 6, 6, 0.5);">&nbsp;</div>

  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-sm-8 ">
        <div>
          <div class="text-white text-left">
            <%= @page.vision_and_mission.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
