<% if @page.errors.any? %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
    <h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> <%= pluralize(@user.errors.count, "error") %> </h3>
    <p>prohibited this user from being saved:</p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @page, :html => { :class => "form-horizontal page" } do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :title, :class => 'control-label' %>
                <%= f.text_field :title, :class => 'form-control', disabled: true %>
                <%=f.error_span(:title) %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
            <h3>Main Slider</h3>
            <hr>
          <div class="row" id="sliders">
            <%= f.fields_for :sliders do |slider| %>

            <%= render 'slider_fields', f: slider %>

            <% end %>
            <div class="col-md-4">
              <%= link_to_add_association 'add image', f, :sliders, class:"btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                  <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {toolbar: 'mini'} %>
                <%=f.error_span(:content) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="form-group">
                <%= f.submit nil, :class => 'btn btn-success' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),pages_path, :class => 'btn btn-light' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
