<% if @page.errors.any? %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
    <h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> <%= pluralize(@user.errors.count, "error") %> </h3>
    <p>prohibited this user from being saved:</p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @page, :html => { :class => "form-horizontal page" } do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :title, :class => 'control-label' %>
                <%= f.text_field :title, :class => 'form-control', required: true %>
                <%=f.error_span(:title) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :meta_description, :class => 'control-label' %>
                <%= f.text_area :meta_description, :class => 'form-control' %>
                <%=f.error_span(:meta_description) %>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <div class="form-group">
                <%= f.submit nil, :class => 'btn btn-success' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),pages_path, :class => 'btn btn-light' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :cover_image,"Cover Image", :class => 'control-label' %>
            <% if  @page.cover_image.nil? or @page.cover_image.blank? %>
            <%= f.file_field :cover_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K'  %>
            <% else %>
            <%= f.file_field :cover_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K' , 'data-default-file' => @page.cover_image.url %>
            <% end %>
            <%=f.error_span(:cover_image) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3>Visi dan Misi</h3>
          <div class="row">
            <div class="col">
              <div class="form-group">

                <%= f.cktext_area :vision_and_mission, :class => 'form-control',:ckeditor => {toolbar: 'mini'} %>
                <%=f.error_span(:content) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3>Our Story</h3>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.cktext_area :our_story, :class => 'form-control',:ckeditor => {toolbar: 'mini'} %>
                <%=f.error_span(:our_story) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
