<div class="quote-area" style="background: rgba(0, 0, 0, 0) url('assets/contact.jpg') no-repeat fixed bottom / cover ;padding: 150px 0;  position: relative;">
  <div class="blue-trs">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <h1 style="font-size:30px;color:white;">
          Have a question? We're happy to talk, don't hesitate to call us nowLOG
        </h1>
      </div>
    </div>
  </div>
</div>


  <section>
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>

          <% if @contact.errors.any? %>
            <div id="error_expl" class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>
              </div>
              <div class="panel-body">
                <ul>
                <% @contact.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :fullname, :class => 'control-label col-lg-12' %>
            <div class="col-lg-10">
              <%= f.text_field :fullname, :class => 'form-control' %>
            </div>
            <%=f.error_span(:fullname) %>
          </div>
          <div class="form-group">
            <%= f.label :email, :class => 'control-label col-lg-12' %>
            <div class="col-lg-10">
              <%= f.text_field :email, :class => 'form-control' %>
            </div>
            <%=f.error_span(:email) %>
          </div>
          <div class="form-group">
            <%= f.label :phone_number, :class => 'control-label col-lg-12' %>
            <div class="col-lg-10">
              <%= f.text_field :phone_number, :class => 'form-control' %>
            </div>
            <%=f.error_span(:phone_number) %>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-12" for="contact_fullname">I'm asking for :</label>

            <div class="col-lg-10">
              <select class="form-control" name="contact[inquiey]" id="contact_inquiey">
                <option>My self</option>
                <option>A friend</option>
                <option>A member of family</option>
                <option>Prefer not to say</option>
              </select>
            </div>
            <%=f.error_span(:inquiey) %>
          </div>
          <div class="form-group">
            <%= f.label :message, :class => 'control-label col-lg-12' %>
            <div class="col-lg-10">
              <%= f.text_area :message, :class => 'form-control', rows: 5 %>
            </div>
            <%=f.error_span(:message) %>
          </div>

          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <%= f.submit "SUBMIT", :class => 'btn btn-primary' %>

            </div>
          </div>

        <% end %>

      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1983.1950043738354!2d106.833995!3d-6.212184!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f4093098f75d%3A0x7f8fab657021492a!2sJl.+Kuningan+Mulia+No.9C%2C+RT.6%2FRW.1%2C+Menteng+Atas%2C+Kecamatan+Setiabudi%2C+Kota+Jakarta+Selatan%2C+Daerah+Khusus+Ibukota+Jakarta+12980!5e0!3m2!1sen!2sid!4v1548411574506" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    </div>
  </section>
