<div class="quote-area" style="background: rgba(0, 0, 0, 0) url('assets/appointment.jpg') no-repeat fixed center / cover ;padding: 200px 0;  position: relative;">
  <div style="position: absolute;top: 0;left: 0; width: 100%;height: 100%; background-color:background: rgba(156, 236, 251, 0.7); /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(156, 236, 251, 0.7),  rgba(101, 199, 247, 0.7),rgba(0, 82, 212, 0.7)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(156, 236, 251, 0.7),  rgba(101, 199, 247, 0.7),rgba(0, 82, 212, 0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;">
</div>
<div class="container h-100">
  <div class="row justify-content-center h-100 align-items-center">
    <div class="col-sm-7 ">
      <p style="font-size:40px;color:white;font-weight:900;">
        Make Your Appointment <br> Now
      </p>
    </div>
    <div class="col-md-5">
      <div class="p-3 shadow" style="background:rgba(255, 255, 255, 0.8)">

        <%= form_for @appointment, :html => { :class => "form-horizontal appointment" } do |f| %>

        <% if @appointment.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @appointment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>

        <div class="form-group">
          <%= f.label :fullname, :class => 'control-label' %>
          <%= f.text_field :fullname, :class => 'form-control', required:true %>
          <%=f.error_span(:fullname) %>
        </div>
        <div class="form-group">
          <%= f.label :email, :class => 'control-label' %>
          <%= f.text_field :email, :class => 'form-control', required:true %>
          <%=f.error_span(:email) %>
        </div>
        <div class="form-group">
          <%= f.label :phonenumber, :class => 'control-label' %>
          <%= f.text_field :phonenumber, :class => 'form-control', required:true %>
          <%=f.error_span(:phonenumber) %>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1" class="control-label">Arrivel Date</label>
          <%= f.date_field :arrival_date, :class => 'form-control', required:true %>
          <%=f.error_span(:arrival_date) %>
        </div>

        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <%= f.submit "SUBMIT", :class => 'btn btn-primary' %>

          </div>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
