<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <% @page.sliders.each_with_index do |x,i| %>
    <div class="carousel-item <% if i == 0  %> active <% end %>">
      <div class=" d-flex justify-content-center align-items-center" style="background-image: url(<%= x.image %>);background-position:center center;background-size:cover; position: relative;height:700px;">
        <div class="text-center" data-animation="animated fadeIn">
          <h1 class="" style="font-size:60px;color:#1a236b;text-shadow: 2px 2px 4px #000000;">BEHAVE <span style="color:rgb(10, 149, 216)">CLINIC</span></h1>
          <p class="text-white" style="font-size:30px;text-shadow: 2px 2px 4px #000000;">There is No Health Without Mental Health</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="position-relative" style="">
  <div class="position-absolute" style="top:10%;width:15%;left:0">
    <img src="<%= asset_url('left-leaf.png') %>" alt="" class="w-100">
  </div>
  <div class="position-absolute" style="top:30%;width:15%;right:0;">
    <img src="<%= asset_url('right-leaf.png') %>" alt="" class="w-100">
  </div>
  <div class="container text-center">
    <div class="w-75 m-auto">
      <%= @page.content.html_safe %>
      <div class="mt-5">
        <hr>
      </div>
      <div class="mt-5">
        <div class="mb-3">
          <h2 style="color:rgb(37, 50, 148);">Treatment in Behave </h2>
        </div>
        <div class="row">
          <% Treatment.all.each do |x| %>
          <div class="col-md-4">
            <a href="<%= treatment_path(x) %>">
              <img src="<%= x.image %>" alt="<%= x.title %>" class="w-100 rounded-circle" style="padding:10px; border:1px solid rgb(10, 149, 216) ">
              <div class="mt-4">
                <h4 style="color:#1a236b; text-transform:uppercase"><%= x.title %> </h4>
                <p style="color:gray"><%= x.meta_description %></p>
              </div>
            </a>
          </div>
          <% end  %>
        </div>
      </div>
      <div class="mt-5">
        <hr>
      </div>
    </div>
  </div>
</section>

<% unless @last_event.end_date < Date.today %>
<section class="section-event pt-0 ">
  <div class="container">

    <div class="row">
      <div class="col-md-5">
        <img src="<%= @last_event.image %>" alt="<%= @last_event.title %>" class="w-100">

      </div>
      <div class="col-md-7">
        <div class="sticky-top" style="top: 15vh;">
          <h2><%= @last_event.title %></h2>
          <hr>
          <%= @last_event.content.html_safe %>
          <hr>
          <p><strong>Event Detail:</strong></p>

          <hr>
          <div class="d-block mb-2">
            <div class="d-flex">
              <div class="mr-2" style="width:25px">
                <i class="fa fa-calendar-times-o" aria-hidden="true"></i>
              </div>
              <div class="d-block">
                <% if @last_event.start_date == @last_event.end_date %>
                <p class="mb-0"> <%= @last_event.start_date.strftime(" %e %B %Y") rescue "-" %></p>
                <% else %>
                <p class="mb-0"><%= @last_event.start_date.strftime("%e %B %Y") rescue "-" %> - <%= @last_event.end_date.strftime("%e %B %Y") rescue "-" %></p>
                <% end %>
              </div>
            </div>
          </div>
          <div class="d-block mb-2">
            <div class="d-flex">
              <div class="mr-2" style="width:20px">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>
              <div class="d-block">
                <p class="mb-0"><%= @last_event.venue_name %></p>
              </div>
            </div>
          </div>

          <div class="d-block mb-2">
            <div class="d-flex">
              <div class="mr-2" style="width:20px">
                <i class="fa fa-ticket" aria-hidden="true"></i>
              </div>
              <div class="d-block">
                <p class="mb-0">Rp. <%= @last_event.price %></p>
              </div>
            </div>
          </div>

          <% unless @last_event.url_event == "" %>
          <div class="d-block mb-2">
            <div class="d-flex">
              <div class="mr-2" style="width:20px">
                <i class="fa fa-link" aria-hidden="true"></i>
              </div>
              <div class="d-block">
                <p class="mb-0">
                  <a href="<%= @last_event.url_event %>"><%= @last_event.url_event %></a>
                </p>
              </div>
            </div>
          </div>
          <% end %>

        </div>

      </div>
    </div>
    <div class="w-75 m-auto py-5">
      <hr>
    </div>
  </div>
</section>
<% end %>


<section class="section-video pt-0 pb-0">
  <div class="container">
    <h2 class="text-dark"><a href="https://www.youtube.com/watch?v=MLTzwmQw240&feature=emb_title" class="text-dark"><i class="fa fa-youtube-play" aria-hidden="true" style="color:red"></i> Follow us on Youtube</a></h2>
    <div class="row">
      <div class="col-md-8">
        <div class="video_case">
          <iframe width="100%" height="470" src="https://www.youtube.com/embed/<%= YoutubeID.from(@video.order(created_at: :asc).last.youtube_url) %>" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-4 d-md-block d-none">
        <div class="heading-section no-border">
        </div>
        <div class="list-video d-none d-md-block"  style="height:100%;max-height: 470px;overflow-y:scroll">
          <% @video.order(created_at: :desc).all.each_with_index do |x, i| %>
          <div class="vid-thumb my-2">
            <a href="https://www.youtube.com/embed/<%= YoutubeID.from(x.youtube_url) %>" class="video-<%= i %>" title="" >
              <img src="https://img.youtube.com/vi/<%= YoutubeID.from(x.youtube_url) %>/hqdefault.jpg" alt="" class="w-100"/>
            </a>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="mt-3">
      <h2><a href="https://open.spotify.com/show/40Qx7sPCM3hn9zzP4b6EPd?si=xZCCK1_MROyOTMZxnlQRBw" class="text-dark"><i class="fa fa-spotify" aria-hidden="true" style="color:#1DB954"></i> Spotify</a></h2>
      <p>
        Follow podcast kita untuk mendapatkan kisan dan informasi tentang kesehartan mentalm adiksi dan tumbuh kembang anak
      </p>
      <iframe src="https://open.spotify.com/embed-podcast/show/40Qx7sPCM3hn9zzP4b6EPd" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="w-75 m-auto py-5">
      <hr>
    </div>
  </div>

</section>





<section class="pt-0">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div  class="shadow bg-light mb-sm-30" style="padding:10px;border:1px solid #f3f3f3;background-color:white;">
          <img src="<%= asset_url('behave front end.jpg') %>" alt="" class="w-100">
        </div>
      </div>
      <div class="col-md-6">
        <h2><span class="" style="color:#1a236b;">BEHAVE </span><span style="color:rgb(10, 149, 216)">CLINIC</span></h2>
        <p>Behave merupakan pusat pemulihan (recovery center) eksklusif yang berfokus pada kesehatan jiwa bagi dewasa, tumbuh kembang anak dan remaja, juga pemulihan pecandu narkoba yang ditangani oleh profesional yang memahami kebutuhan Anda.</p>
        <a href="/about-us" class="btn btn-outline-primary">DISCOVER</a>
      </div>
    </div>
  </div>

</section>


<div class="quote-area" style="background: rgba(0, 0, 0, 0) url('<%= asset_url('bgx.jpg') %>') no-repeat fixed center / cover ;padding: 100px 0;  position: relative;">
  <div style="position: absolute;top: 0;left: 0; width: 100%;height: 100%; background-color:rgba(6, 6, 6, 0.18);">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <p style="font-size:30px;color:white;">
          “We care about you, stay away from depression and come closer to us”
        </p>
      </div>
    </div>
  </div>
</div>
