<% if @doctor.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for @doctor, :html => { :class => "form-horizontal doctor" } do |f| %>

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :title, :class => 'control-label' %>
            <%= f.text_field :title, :class => 'form-control' %>
            <%=f.error_span(:title) %>
          </div>
          <div class="form-group">
            <%= f.label :description, :class => 'control-label' %>
            <%= f.text_area :description, :class => 'form-control', rows: 8 %>
            <%=f.error_span(:description) %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <%= f.label :image,"Slider Image", :class => 'control-label' %>
          <% if  @doctor.image.nil? or @doctor.image.blank? %>
          <%= f.file_field :image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K'  %>
          <% else %>
          <%= f.file_field :image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K' , 'data-default-file' => @doctor.image.url %>
          <% end %>
          <%=f.error_span(:image) %>
        </div>
      </div>
    </div>
  </div>

    <div class="card">
      <div class="card-body">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                doctors_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
