<%- model_class = Doctor -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= app_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <%= link_to t('.new', :default => t("helpers.links.new")), new_doctor_path, :class => 'btn btn-success mb-2' %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th>Full Name</th>
                <th><%= model_class.human_attribute_name(:description) %></th>

                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @doctors.each do |doctor| %>
              <tr>
                <td><%= link_to doctor.id, doctor_path(doctor) %></td>
                <td><%= doctor.title %></td>
                <td><%= doctor.description %></td>

                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                  doctor_path(doctor), :class => 'btn btn-default btn-xs m-1' %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_doctor_path(doctor), :class => 'btn btn-default btn-xs m-1' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  doctor_path(doctor),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs m-1 btn-danger' %>
                    </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".table").dataTable();
    });
  </script>
