<%- model_class = Article -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">Dashboard</h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= app_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>




<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <strong>
            Appointment unread
          </strong>
          <hr>
          <div class="text-right">
            <h1><%= @appointment.count %></h1>
          </div>
        </div>
        <div class="card-footer bg-primary d-flex justify-content-between">
          <a href="<%= appointments_path(unread:true) %>" class="card-link text-light">Check New Appointment</a>
          <a href="<%= appointments_path %>" class="card-link text-light">Check All Appointment</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <strong>
            Message unread
          </strong>
          <hr>
          <div class="text-right">
            <h1><%= @message.count %></h1>
          </div>
        </div>
        <div class="card-footer bg-primary d-flex justify-content-between">
          <a href="<%= contacts_path(unread:true) %>" class="card-link text-light">Check New Contact</a>
          <a href="<%= contacts_path %>" class="card-link text-light">Check All Contact</a>
        </div>
      </div>
    </div>
  </div>

  <div class="page-breadcrumb p-0 mb-3">
    <h2 class="page-title">Latest Article</h2>
  </div>
  <div class="card">
    <div class="card-body">

      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:title) %></th>
            <th><%= model_class.human_attribute_name(:category_id) %></th>
            <th><%= model_class.human_attribute_name(:writer_id) %></th>
            <th><%= model_class.human_attribute_name(:slug) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
          <tr>
            <td><%= link_to article.id, article_path(article) %></td>
            <td><%= article.title %></td>
            <td><%= article.category.title %></td>
            <td><%= article.writer.title %></td>
            <td><%= article.slug %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
              article_path(article), :class => 'btn btn-default btn-xs m-1' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_article_path(article), :class => 'btn btn-warning btn-xs m-1' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              article_path(article),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs m-1 btn-danger' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>

</div>
