<% if current_user.is_doctor? %>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">Dashboard</h4>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex no-block align-items-center">
              <div>
                <i class="mdi mdi-emoticon font-20 text-muted"></i>
                <p class="font-16 m-b-5">All Patient This Month</p>
              </div>
              <div class="ml-auto">
                <h1 class="font-light text-right">34</h1>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex no-block align-items-center">
              <div>
                <i class="mdi mdi-emoticon font-20 text-muted"></i>
                <p class="font-16 m-b-5">All Patient Today</p>
              </div>
              <div class="ml-auto">
                <h1 class="font-light text-right">5</h1>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex no-block align-items-center">
              <div>
                <i class="mdi mdi-emoticon font-20 text-muted"></i>
                <p class="font-16 m-b-5">Dalam Antrian</p>
              </div>
              <div class="ml-auto">
                <h1 class="font-light text-right">3</h1>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 55%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h4>Patient  </h4> </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="border-top-0">Name</th>
                <th class="border-top-0">Jenis Kelamin</th>
                <th class="border-top-0">Usia</th>
                <th class="border-top-0">Keluhan</th>
                <th class="border-top-0">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="txt-oflo">Elite admin</td>
                <td class="txt-oflo">Laki Laki</td>
                <td class="txt-oflo">26</td>
                <td class="txt-oflo">Nyeri pada kepala dan bahu</td>
                <td>
                  <button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl-detail">Detail Patient</button>
                  <a href="/pemeriksaan" class="btn btn-success">Lakukan Pemeriksaan</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>



<% elsif current_user.is_editor? %>

<%= render :partial => 'admin_writer' %>

<% elsif current_user.is_root? %>

<%= render :partial => 'admin_writer' %>

<% else %>

<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">Dashboard</h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex no-block align-items-center">
              <div>
                <i class="mdi mdi-emoticon font-20 text-muted"></i>
                <p class="font-16 m-b-5">All Patient</p>
              </div>
              <div class="ml-auto">
                <h1 class="font-light text-right">420</h1>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex no-block align-items-center">
              <div>
                <i class="mdi mdi-emoticon font-20 text-muted"></i>
                <p class="font-16 m-b-5">Child Care</p>
              </div>
              <div class="ml-auto">
                <h1 class="font-light text-right">220</h1>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex no-block align-items-center">
              <div>
                <i class="mdi mdi-emoticon font-20 text-muted"></i>
                <p class="font-16 m-b-5">General Clinic</p>
              </div>
              <div class="ml-auto">
                <h1 class="font-light text-right">200</h1>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 55%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h4>Reservasi Online </h4><button type="button" name="button" data-toggle="modal" data-target="#mdl-new" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</button>
          </div>

          <table class="table table-hover">
            <thead>
              <tr>
                <th class="border-top-0">Nama</th>
                <th class="border-top-0">Jenis Layanan</th>
                <th class="border-top-0">No Telpon</th>
                <th class="border-top-0">Tanggal</th>
                <th class="border-top-0">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="txt-oflo">Elite admin</td>
                <td>Klinik Anak</td>
                <td>08128554123</td>
                <td>31 July 2019 @ 09:00</td>
                <td>
                  <button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl-detail">Detail</button>

                  <button type="button" name="button" class="btn btn-success">Confirm</button>
                  <button type="button" name="button" class="btn btn-danger">Reject</button>
                </td>
              </tr>
              <tr>
                <td class="txt-oflo">Elite admin</td>
                <td>Klinik Anak</td>
                <td>08128554123</td>
                <td>31 July 2019 @ 09:00</td>
                <td>
                  <button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl-detail">Detail</button>
                  <button type="button" name="button" class="btn btn-success">Confirm</button>
                  <button type="button" name="button" class="btn btn-danger">Reject</button>
                </td>
              </tr>
              <tr>
                <td class="txt-oflo">Elite admin</td>
                <td>Klinik Anak</td>
                <td>08128554123</td>
                <td>31 July 2019 @ 09:00</td>
                <td>
                  <button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl-detail">Detail</button>
                  <button type="button" name="button" class="btn btn-success">Confirm</button>
                  <button type="button" name="button" class="btn btn-danger">Reject</button>
                </td>
              </tr>
              <tr>
                <td class="txt-oflo">Elite admin</td>
                <td>Klinik Anak</td>
                <td>08128554123</td>
                <td>31 July 2019 @ 09:00</td>
                <td>
                  <button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl-detail">Detail</button>
                  <button type="button" name="button" class="btn btn-success">Confirm</button>
                  <button type="button" name="button" class="btn btn-danger">Reject</button>
                </td>
              </tr>
              <tr>
                <td class="txt-oflo">Elite admin</td>
                <td>Klinik Anak</td>
                <td>08128554123</td>
                <td>31 July 2019 @ 09:00</td>
                <td>
                  <button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl-detail">Detail</button>
                  <button type="button" name="button" class="btn btn-success">Confirm</button>
                  <button type="button" name="button" class="btn btn-danger">Reject</button>
                </td>
              </tr>
              <tr>
                <td class="txt-oflo">Elite admin</td>
                <td>Klinik Anak</td>
                <td>08128554123</td>
                <td>31 July 2019 @ 09:00</td>
                <td>
                  <button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl-detail">Detail</button>
                  <button type="button" name="button" class="btn btn-success">Confirm</button>
                  <button type="button" name="button" class="btn btn-danger">Reject</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>

  </div>
  <div class="d-block">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h4>Antrian Patient </h4> <button type="button" name="button" data-toggle="modal" data-target="#mdl-new" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</button>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="border-top-0">Name</th>
                <th class="border-top-0">Jenis Layanan</th>
                <th class="border-top-0">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="txt-oflo">Elite admin</td>
                <td class="txt-oflo">Klinik Anak</td>
                <td><button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl-detail">Detail</button></td>
              </tr>
              <tr>
                <td class="txt-oflo">Real Homes WP Theme</td>
                <td class="txt-oflo">Klinik Umum</td>
                <td><button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl-detail">Detail</button></td>
              </tr>
              <tr>
                <td class="txt-oflo">Ample Admin</td>
                <td class="txt-oflo">Klinik Anak</td>
                <td><button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl-detail">Detail</button></td>
              </tr>
              <tr>
                <td class="txt-oflo">Medical Pro WP Theme</td>
                <td class="txt-oflo">Klinik Anak</td>
                <td><button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl-detail">Detail</button></td>
              </tr>
              <tr>
                <td class="txt-oflo">Hosting press html</td>
                <td class="txt-oflo">Klinik Umum</td>
                <td><button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl-detail">Detail</button></td>
              </tr>
              <tr>
                <td class="txt-oflo">Digital Agency PSD</td>
                <td class="txt-oflo">Klinik Umum</td>
                <td><button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl-detail">Detail</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4>Kasir  </h4>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="border-top-0">Name</th>
                <th class="border-top-0">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="txt-oflo">Elite admin</td>
                <td><button type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#mdl-kasir">Pembayaran</button></td>
              </tr>
              <tr>
                <td class="txt-oflo">Real Homes WP Theme</td>
                <td><button type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#mdl-kasir">Pembayaran</button></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

<% end %>


<div class="modal fade" id="mdl-detail" tabindex="-1" role="dialog" aria-labelledby="mdl-detailLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl-detailLabel">Detail Patient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>MEDREC: 01312323</strong></p>

        <table class="table">
          <tbody>
            <tr class="bg-info text-white">
              <td class="txt-oflo">Data Pribadi</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="txt-oflo">Nama Lengkap</td>
              <td>:</td>
              <td>Aulya</td>
            </tr>
            <tr>
              <td class="txt-oflo">Tanggal Lahir</td>
              <td>:</td>
              <td>31 Desember 1992</td>
            </tr>
            <tr>
              <td class="txt-oflo">Kewarganegaraan</td>
              <td>:</td>
              <td>WNI</td>
            </tr>

            <tr>
              <td class="txt-oflo">Gender</td>
              <td>:</td>
              <td>Laki Laki</td>
            </tr>
            <tr>
              <td class="txt-oflo">Marital Status</td>
              <td>:</td>
              <td>Single</td>
            </tr>
            <tr>
              <td class="txt-oflo">Alamat Tempat Tinggal</td>
              <td>:</td>
              <td>Jl Melati blok c no 51 cilandak</td>
            </tr>
            <tr>
              <td class="txt-oflo">Telpon Rumah</td>
              <td>:</td>
              <td>021 - 272786</td>
            </tr>
            <tr>
              <td class="txt-oflo">Telpon Selular</td>
              <td>:</td>
              <td>081285545703</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Lihat Lebih Detail</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mdl-new" tabindex="-1" role="dialog" aria-labelledby="mdl-newLabel" aria-hidden="true">
  <div class="modal-dialog 	modal-xl" role="document" style="max-width:75%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl-newLabel">Buat Antrian Barus</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-new">
          <thead>
            <tr>
              <th class="border-top-0">MEDREC</th>
              <th class="border-top-0">Name</th>
              <th class="border-top-0">Jenis Kelamin</th>
              <th class="border-top-0">Layanan</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="txt-oflo">13123123123</td>
              <td class="txt-oflo">Aulya</td>
              <td class="txt-oflo">Laki Laki</td>
              <td class="txt-oflo">Klinik Umum</td>
              <td><button type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#mdl-dtl-register" data-dismiss="modal" data-dismiss="modal">Tambahkan Dalam Antrian </button></td>
            </tr>
            <tr>
              <td class="txt-oflo">13197763123</td>
              <td class="txt-oflo">Dina</td>
              <td class="txt-oflo">Perempuan</td>
              <td class="txt-oflo">Klinik Anak</td>
              <td><button type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#mdl-dtl-register" data-dismiss="modal" data-dismiss="modal">Tambahkan Dalam Antrian</button></td>
            </tr>

          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Regsitrasi pasien baru</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mdl-dtl-register" tabindex="-1" role="dialog" aria-labelledby="mdl-dtl-registerTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdl-dtl-registerTitle">Detail Registrasi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>MEDREC: 01312323</strong></p>
        <table class="table">
          <tbody>
            <tr class="bg-info text-white">
              <td class="txt-oflo">Data Pribadi</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="txt-oflo">Nama Lengkap</td>
              <td>:</td>
              <td>Aulya</td>
            </tr>
            <tr>
              <td class="txt-oflo">Gender</td>
              <td>:</td>
              <td>Laki Laki</td>
            </tr>
            <tr>
              <td class="txt-oflo">Tanggal Lahir</td>
              <td>:</td>
              <td>31 Desember 1992</td>
            </tr>
          </tbody>
        </table>

        <div class="d-block'">
          <table class="table">
            <tbody>
              <tr class="bg-info text-white">
                <td class="txt-oflo">Data Pribadi</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <form>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Pilih Dokter</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>dr. Dicky Oktrianda</option>
                <option>dr. Al Bachri Husin, Sp.Kj</option>
                <option>Frans Markus Siagian</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Keluhan</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Masukan dalam antrian </button>
      </div>
    </div>
  </div>
</div>

<form class="modal multi-step" id="mdl-kasir">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h4 class="modal-title step-1" data-step="1">Kasir</h4><h4 class="modal-title step-1" data-step="1"><strong>NO.INVOICE: CC3123</strong></h4>
            </div>
            <div class="modal-body step step-1">
              <table class="table">
                  <tbody>
                    <tr class="bg-info text-white">
                        <td class="txt-oflo">Data Pribadi</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="txt-oflo">MEDREC</td>
                        <td>:</td>
                        <td>12323123213</td>
                    </tr>
                      <tr>
                          <td class="txt-oflo">Nama Lengkap</td>
                          <td>:</td>
                          <td>Aulya</td>
                      </tr>
                      <tr>
                          <td class="txt-oflo">Jenis Kelamin</td>
                          <td>:</td>
                          <td>Laki Laki</td>
                      </tr>


                  </tbody>
                </table>
                <table class="table">
                    <tbody>
                      <tr class="bg-info text-white">
                          <td class="txt-oflo">Tindakan</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td class="txt-oflo">Umum</td>
                          <td></td>
                          <td class="text-right">Rp. 50.000</td>
                      </tr>
                      <tr>
                          <td class="txt-oflo">Test Darah</td>
                          <td></td>
                          <td class="text-right">Rp. 100.000</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table">
                      <tbody>
                        <tr class="bg-info text-white">
                            <td class="txt-oflo">Obat</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="txt-oflo">Gravasik 50 gr Tab</td>
                            <td></td>
                            <td class="text-right">Rp. 50.000</td>
                        </tr>
                        <tr>
                            <td class="txt-oflo">Metofim 100gr</td>
                            <td></td>
                            <td class="text-right">Rp. 100.000</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table">
                        <tbody>
                          <tr class="text-dark">
                              <td class="txt-oflo">Sub Total</td>
                              <td></td>
                              <td class="text-right"><strong>Rp. 300.000</strong>  </td>
                          </tr>
                          <tr>
                              <td class="txt-oflo">Diskon</td>
                              <td></td>
                              <td class="text-right"><input type="text" name="" value="0" style="width:100%;text-align:right;font-size:20px; border:none;border-bottom: 1px solid gray"> </td>
                          </tr>
                          <tr>
                              <td class="txt-oflo">Grand Total</td>
                              <td></td>
                              <td class="text-right"><input type="text" name="" value="300.000" style="width:100%;text-align:right;font-size:20px; border:none;border-bottom: 1px solid gray"> </td>
                          </tr>
                        </tbody>
                      </table>
            </div>

            <div class="modal-footer">
              <a href="/invoice" class="btn btn-primary step step-1">Cetak</a>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
  $(document).ready(function() {
    $(".table-new").dataTable();
  });
</script>
