<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body printableArea">
              <div class="d-flex justify-content-between align-item-center">
                <img src="<%= asset_url('logo.png') %>" alt="" style="width:150px;height:auto;">
                <h3><b>INVOICE</b> <span class="pull-right">#5669626</span></h3>
              </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <address>
                                <h3><b class="text-info">Aulya</b></h3>
                                <p class="text-muted m-l-5">
                                    E 104, Dharti-2,
                                    <br/> Nr' Viswakarma Temple,
                                    <br/> Talaja Road,
                                    <br/> Bhavnagar - 364002</p>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive m-t-40" style="clear: both;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Tindakan</th>
                                        <th class="text-right">Unit Cost</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Pemerikassan Umum</td>
                                        <td class="text-right"> $24 </td>
                                        <td class="text-right"> $48 </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Tes Darah</td>
                                        <td class="text-right"> $500 </td>
                                        <td class="text-right"> $1500 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive m-t-40" style="clear: both;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Obat</th>
                                        <th class="text-right">Unit Cost</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Gravasik 50 gr Tab</td>
                                        <td class="text-right"> $24 </td>
                                        <td class="text-right"> $48 </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>kapsul x</td>
                                        <td class="text-right"> $500 </td>
                                        <td class="text-right"> $1500 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pull-right m-t-30 text-right">
                            <p>Sub - Total amount: $13,848</p>
                            <p>vat (10%) : $138 </p>
                            <hr>
                            <h3><b>Total :</b> $13,986</h3>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        <div class="text-right">
                            <button class="btn btn-danger" type="submit"> Proceed to payment </button>
                            <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
