<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body w-100">
          <table class="table w-100">
            <tbody>
              <tr class="bg-info text-white">
                <td class="txt-oflo">Data Patient</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="txt-oflo">MEDREC</td>
                <td>:</td>
                <td>12323123213</td>
              </tr>
              <tr>
                <td class="txt-oflo">Nama Lengkap</td>
                <td>:</td>
                <td>Aulya</td>
              </tr>
              <tr>
                <td class="txt-oflo">Jenis Kelamin</td>
                <td>:</td>
                <td>Laki Laki</td>
              </tr>
              <tr>
                <td class="txt-oflo">Usia</td>
                <td>:</td>
                <td>26 tahun</td>
              </tr>
            </tbody>
          </table>
          <div class="d-block">
            <a href="#" class="btn btn-primary">
              Lihat Rekam Medis
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body w-100">
          <table class="table w-100">
            <tbody>
              <tr class="bg-info text-white">
                <td class="txt-oflo">Anamnesa</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <p>
            <i>Nyeri pada kepala dan bahu</i>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body w-100">
          <table class="table w-100">
            <tbody>
              <tr class="bg-info text-white">
                <td class="txt-oflo">RIWAYAT KESEHATAN</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <form>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Gangguan penglihatan</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Gangguan pendengaran</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Gangguan THT</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Cedera Kepala</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Vertigo</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Infeksi TBC</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Batuk produktif hampir setiap hari, minimal 3 bulan dalam setahun, sudah dialami sekurangnya 2 tahun </label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Gangguan penglihatan</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Gangguan pendengaran</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Gangguan THT</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Cedera Kepala</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Vertigo</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Infeksi TBC</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Batuk produktif hampir setiap hari, minimal 3 bulan dalam setahun, sudah dialami sekurangnya 2 tahun </label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <table class="table w-100">
              <tbody>
                <tr class="bg-info text-white">
                  <td class="txt-oflo"> Kebiasaan </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Olah Raga</label>
              </div>
              <div class="form-group col-1">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col-1">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>

              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Frekuensi">
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Merokok</label>
              </div>
              <div class="form-group col-1">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col-1">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>

              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Frekuensi">
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Minum Alkohol</label>
              </div>
              <div class="form-group col-1">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col-1">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>

              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Frekuensi">
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Lainnya:</label>
              </div>
              <div class="form-group col-md-8">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <table class="table w-100">
              <tbody>
                <tr class="bg-info text-white">
                  <td class="txt-oflo"> Riwayat Kesehatan Keluarga </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Kanker</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Darah Tinggi</label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Sakit Jantung </label>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
              </div>
              <div class="form-group col">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak</label>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Tidak Tahu</label>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="custom-control custom-radio">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <table class="table w-100">
              <tbody>
                <tr class="bg-info text-white">
                  <td class="txt-oflo"> Keadaan Umum </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">Kesadaran</label>
             <div class="col-sm-9">
               <input type="text"  class="form-control" id="staticEmail">
             </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">TD</label>
             <div class="col-sm-9">
               <input type="text"  class="form-control" id="staticEmail">
             </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">NAPAS</label>
             <div class="col-sm-9">
               <input type="text"  class="form-control" id="staticEmail">
             </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">NADI</label>
             <div class="col-sm-9">
               <input type="text"  class="form-control" id="staticEmail">
             </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">SUHU</label>
             <div class="col-sm-9">
               <input type="text"  class="form-control" id="staticEmail">
             </div>
            </div>
            <table class="table w-100">
              <tbody>
                <tr class="bg-info text-white">
                  <td class="txt-oflo"> Diagnosa </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">Diagnosa</label>
             <div class="col-sm-9">
                 <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder=""></textarea>
             </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">Diagnosa Pembading</label>
             <div class="col-sm-9">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder=""></textarea>
             </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">Penatalaksana</label>
             <div class="col-sm-9">
               <select class="select2 form-control" multiple="multiple" style="height: 36px;width: 100%;">
                 <option value="AK" selected>Umum</option>
                 <option value="HI">Tes Darah</option>
               </select>
             </div>
            </div>
            <table class="table w-100">
              <tbody>
                <tr class="bg-info text-white">
                  <td class="txt-oflo"> Obat </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div class="form-group row">
              <div class="col-md-6">
                <select class="js-example-basic-single w-100" name="state">
                  <option value="">Pilih</option>
                  <option value="AL">Paracetamol</option>
                  <option value="WY">Mixagrip</option>
                </select>
              </div>
              <div class="col-md-3">
                <input type="text"  class="form-control" id="staticEmail" placeholder="jumlah">
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary">Tambahan</button>
              </div>

            </div>

            <hr>
            <button type="submit" class="btn btn-primary">Selesai</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('.select2').select2();
});
$(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>
