
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">Report</h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex no-block align-items-center">
              <div>
                <i class="mdi mdi-emoticon font-20 text-muted"></i>
                <p class="font-16 m-b-5">All Patient</p>
              </div>
              <div class="ml-auto">
                <h1 class="font-light text-right">420</h1>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex no-block align-items-center">
              <div>
                <i class="mdi mdi-emoticon font-20 text-muted"></i>
                <p class="font-16 m-b-5">Patient This Month</p>
              </div>
              <div class="ml-auto">
                <h1 class="font-light text-right">80</h1>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex no-block align-items-center">
              <div>
                <i class="mdi mdi-emoticon font-20 text-muted"></i>
                <p class="font-16 m-b-5">Monthly Income</p>
              </div>
              <div class="ml-auto">
                <h1 class="font-light text-right">Rp. 45.000.000</h1>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 55%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div id="bar-chart" style=""></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div id="donut-example"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  Morris.Bar({
    element: 'bar-chart',
    resize: true,
    hideHover: 'auto',
    data: [
     { period: '2016-05-10', child: 200, general: 200 },
     { period: '2016-05-11', child: 15, general: 275},
     { period: '2016-05-12', child: 80, general: 20 },
     { period: '2016-05-13', child: 100, general: 2000 },
     { period: '2016-05-14', child: 50, general: 60 },
     { period: '2016-05-15', child: 75, general: 65 },
     { period: '2016-05-16', child: 175, general:950 },
     { period: '2016-05-17', child: 150, general:950 },
     { period: '2016-05-18', child: 120, general:95 },
     { period: '2016-05-19', child: 60, general:950 },
     { period: '2016-05-20', child: 10, general:950 }
   ],
    xkey: 'period',
    ykeys: ['child', 'general'],
    labels: ['Child Care', 'General Clinic'],
  });
</script>

<script type="text/javascript">
  Morris.Donut({
    element: 'donut-example',
    resize: true,
    data: [
    {label: "Child Care", value: 220},
    {label: "General Clinic", value: 200},
    ]
  });
</script>
