<%- model_class = Appointment -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= app_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Fullname</th>
                <th>Email</th>
                <th>Phonenumber</th>
                <th>Arrival date</th>

              </tr>
            </thead>

            <tbody>
              <% @appointments.each do |appointment| %>
              <tr>
                <td><%= appointment.fullname %></td>
                <td><%= appointment.email %></td>
                <td><%= appointment.phonenumber %></td>
                <td><%= appointment.arrival_date %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $(".table").dataTable();
  });
</script>
