<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @appointment.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @appointment.email %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @appointment.phonenumber %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @appointment.arrival_date %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
