<div class="quote-area" style="background: rgba(0, 0, 0, 0) url('<%= asset_url('blog bg.jpg') %>') no-repeat fixed bottom / cover ;padding: 150px 0;  position: relative;">
  <div class="blue-trs">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <h1 style="font-size:30px;color:white;">
          Article and Event
        </h1>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="d-block">
      <ul class="nav justify-content-center m-auto" style="border-bottom:1px solid #1a236b;width:fit-content">
      <% Category.all.each do |x| %>

      <% if @category.id == x.id %>
      <li class="nav-item">
        <strong><a class="nav-link active" href="<%= category_path(x) %>"><%= x.title %></a></strong>
      </li>

      <% else %>
      <li class="nav-item">
        <strong><a class="nav-link" href="<%= category_path(x) %>"><%= x.title %></a></strong>
      </li>

      <% end %>
      <% end %>
    </ul>
    </div>
    <div class="d-block mt-5 mb-5">
      <div class="row">
        <div class="col-12 text-center">
        <% if @category.articles.count == 0 %>
          <h2>- Content sedang disiapkan -</h2>
        <% end %>
        </div>
        <% @category.articles.order(created_at: :desc).each do |x| %>
        <div class="col-md-4 mb-3">
          <a href="<%= blog_detail_path(x) %>">
          <div class="card">
          <img src="<%= x.image.url(:regular) %>" class="card-img-top" alt="<%= x.title %>">
          <div class="card-body">
            <h3 class="card-title x-card-title"><%= x.title %></h3>
            <a href="<%= blog_detail_path(x) %>" class="btn btn-primary">Selengkapnya</a>
          </div>
          </div>
          </a>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<% unless @last_event.end_date < Date.today %>
  <!-- true -->

<section class="pt-0">
  <div class="container">
    <div class="w-75 m-auto py-2">
      <hr>
    </div>
    <div class="text-center ">
      <h2>Upcoming Event</h2>
    </div>
    <div class="w-75 m-auto py-2">
      <hr>
    </div>
    <div class="mt-3">
      <div class="row">
        <div class="col-md-5">
          <img src="<%= @last_event.image %>" alt="<%= @last_event.title %>" class="w-100">

        </div>
        <div class="col-md-7">
          <div class="sticky-top" style="top: 15vh;">
            <h2><%= @last_event.title %></h2>
            <hr>
            <%= @last_event.content.html_safe %>
            <hr>
            <p><strong>Event Detail:</strong></p>

            <hr>
            <div class="d-block mb-2">
              <div class="d-flex">
                <div class="mr-2" style="width:25px">
                  <i class="fa fa-calendar-times-o" aria-hidden="true"></i>
                </div>
                <div class="d-block">
                  <% if @last_event.start_date == @last_event.end_date %>
                  <p class="mb-0"> <%= @last_event.start_date.strftime(" %e %B %Y") rescue "-" %></p>
                  <% else %>
                  <p class="mb-0"><%= @last_event.start_date.strftime("%e %B %Y") rescue "-" %> - <%= @last_event.end_date.strftime("%e %B %Y") rescue "-" %></p>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="d-block mb-2">
              <div class="d-flex">
                <div class="mr-2" style="width:20px">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="d-block">
                  <p class="mb-0"><%= @last_event.venue_name %></p>
                </div>
              </div>
            </div>

            <div class="d-block mb-2">
              <div class="d-flex">
                <div class="mr-2" style="width:20px">
                  <i class="fa fa-ticket" aria-hidden="true"></i>
                </div>
                <div class="d-block">
                  <p class="mb-0"><%= @last_event.price %></p>
                </div>
              </div>
            </div>

            <% unless @last_event.url_event == "" %>
            <div class="d-block mb-2">
              <div class="d-flex">
                <div class="mr-2" style="width:20px">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </div>
                <div class="d-block">
                  <p class="mb-0">
                    <a href="<%= @last_event.url_event %>"><%= @last_event.url_event %></a>
                  </p>
                </div>
              </div>
            </div>
            <% end %>

          </div>

        </div>
      </div>
      <div class="w-75 m-auto py-5">
        <hr>
      </div>
    </div>
  </div>
</section>
<% end %>
