<!DOCTYPE html>
<html lang="en">
<head>
  <%= display_meta_tags %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.2/doT.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,900" rel="stylesheet">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "Health for Body and Soul",
      "startDate": "2020-02-23T09:00",
      "endDate": "2020-02-23T17:00",
      "location": {
        "@type": "Place",
        "name": "The Residences at Dharmawangsa",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Jalan Dharmawangsa VIII No.26",
          "addressLocality": "Jakarta",
          "postalCode": "12160",
          "addressCountry": "ID"
        }
      }
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "WebSite",
      "name": "Behave Clinic",
      "url": "http://behave.rehab/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "http://behave.rehab/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "MedicalClinic",
      "name": "Behave Clinic",
      "image": "http://behave.rehab/assets/BEHAVE2_Senja.jpg",
      "@id": "http://behave.rehab/about-us",
      "url": "http://behave.rehab/about-us",
      "telephone": "(021) 80683352",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Jl. Kuningan Mulia No.9C, RT.6/RW.1, Menteng Atas, Kecamatan Setiabudi, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12980",
        "addressLocality": "South Jakarta",
        "postalCode": "12980",
        "addressCountry": "ID"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "-6.212399",
        "longitude": "106.833884"
      },
      "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Wednesday",
        "Tuesday",
        "Monday",
        "Thursday",
        "Friday"
        ],
        "opens": "08:30",
        "closes": "17:30"
      }
    }
  </script>

</head>

<body>



  <!-- non transparent -->

  <% if @article.present? || @event.present? %>
  <!-- navigation -->
  <nav class="navbar navbar-expand-lg fixed-top scrolled shadow" style="background-color:transparent;  transition: background-color 200ms linear;" id="main-nav-non">
    <div class="container">
      <a class="navbar-brand d-none d-md-block" href="#"><img src="<%= asset_url('logo.png') %>" alt=""> </a>
      <div class="align-content-center" id="logo-position">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <a class="navbar-brand d-xs-block d-md-none" href="#"><img src="<%= asset_url('logo.png') %>" alt=""> </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" id="navbar">
            <li class="nav-item active">
              <a class="nav-link " href="<%= root_path %>">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about-us">ABOUT US</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                TREATMENT IN BEHAVE
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% Treatment.all.each do |x| %>
                  <a class="dropdown-item" href="<%= treatment_path(x) %>" style="text-transform:uppercase;" ><%= x.title.titleize %></a>
                <% end %>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create-appointment">APPOINTMENT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= list_blog_path %>">ARTICLE AND EVENT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= contact_us_path %>">CONTACT</a>
            </li>
          </ul>
          <div class="position-absolute w-100 d-none" id="search-bar">
            <form action="/search" method="get">
              <div class="d-flex">
                <input type="text" name="search" class="form-control search-input" value="" placeholder="Start typing &amp; press  &quot;Enter&quot;">
                <a href="javascript:void(0)" id="form-close"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- navigation -->

  <% else %>

  <!-- transparent -->
  <!-- navigation -->
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color:transparent;  transition: background-color 200ms linear;" id="main-nav">
    <div class="container">
      <a class="navbar-brand d-none d-md-block" href="#"><img src="<%= asset_url('logo.png') %>" alt=""> </a>
      <div class="align-content-center" id="logo-position">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <a class="navbar-brand d-xs-block d-md-none" href="#"><img src="<%= asset_url('logo.png') %>" alt=""> </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" id="navbar">
            <li class="nav-item active">
              <a class="nav-link " href="<%= root_path %>">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about-us">ABOUT US</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                TREATMENT IN BEHAVE
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% Treatment.all.each do |x| %>
                  <a class="dropdown-item" href="<%= treatment_path(x) %>" style="text-transform:uppercase;" ><%= x.title.titleize %></a>
                <% end %>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create-appointment">APPOINTMENT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= list_blog_path %>">ARTICLE AND EVENT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= contact_us_path %>">CONTACT</a>
            </li>
          </ul>
          <div class="position-absolute w-100 d-none" id="search-bar">
            <form action="/search" method="get">
              <div class="d-flex">
                <input type="text" name="search" class="form-control search-input" value="" placeholder="Start typing &amp; press  &quot;Enter&quot;">
                <a href="javascript:void(0)" id="form-close"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- navigation -->

  <% end %>

  <%= yield %>



  <section style="background-color:#e2e2e2;" class="p-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xs-12 col-md-4 mb-sm-30">
          <div class="row align-items-center">
            <div class="col-2 text-center">
              <i class="fa fa-2x fa-whatsapp" aria-hidden="true" style="color:#075E54"></i>
            </div>
            <div class="col-10">

              <a href="https://wa.me/628111117354?text=Hai%2C+aku+mau+bertanya" >
                <p style="color:#128C7E" class="mb-0">
                  <strong style="color:#075E54" class="m-0">WhatsApp</strong> <br>
                  +62 811-1117-354
                </p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 mb-sm-30">
          <div class="row align-items-center">
            <div class="col-2 text-center">
              <i class="fa fa-2x fa-envelope-o" aria-hidden="true" style="color:#B23121"></i>
            </div>
            <div class="col-10">
              <p class="m-0"><a href="mailto:info@behave.rehab" style="color:#B23121">info@behave.rehab</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 mb-sm-30">
          <div class="row align-items-center">
            <div class="col-2">
              <i class="fa fa-2x fa-map-marker" aria-hidden="true" style="color:#B23121"></i>
            </div>
            <div class="col-10">
              <a href="https://www.google.com/maps?ll=-6.212184,106.833995&z=18&t=m&hl=en-US&gl=ID&mapclient=embed&daddr=ATM+BCA+Bank+Permata+2083-Bank+Windu+Brass+Jl.+Kuningan+Mulia+No.9C+RT.6/RW.1,+Menteng+Atas+Setiabudi,+South+Jakarta+City,+Jakarta+12980@-6.2121843,106.8339951">
                <p class="m-0 text-dark">
                  <b style="color:#B23121">Gedung Permata Kuningan</b>    <br>
                  Jl. Kuningan Mulia No.9C, RT.6/RW.1, Guntur, Kecamatan Setiabudi,Jakarta Selatan 12920
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer p-5"style="background-color:#262626">
    <div class="container" style="border-bottom:1px solid grey">
      <div class="row">
        <div class="col-md-9">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="<%= root_path%>">HOMEPAGE <span class="sr-only">(current)</span></a> </li>
              <li class="nav-item"> <a class="nav-link" href="/about">ABOUT US</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/create-appointment">APPOINTMENT</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/blog">BLOG</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/contact-us">CONTACT</a> </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="nav float-right">
              <li class="nav-item">
                <a class="nav-link nav-fb" href="https://www.facebook.com/behaveclinic" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0.282cm" height="0.564cm"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" class="i-fb" d="M5.336,15.524 L2.128,15.524 L2.128,8.292 L0.526,8.292 L0.526,5.442 L2.128,5.442 L2.128,3.731 C2.128,1.408 3.034,0.026 5.604,0.026 L7.744,0.026 L7.744,2.875 L6.407,2.875 C5.406,2.875 5.340,3.273 5.340,4.016 L5.336,5.442 L7.760,5.442 L7.476,8.292 L5.336,8.292 L5.336,15.524 Z"></path> </svg> </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link nav-insta" href="https://www.instagram.com/behaveclinic/?hl=en" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0.564cm" height="0.564cm"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" class="i-int" d="M12.857,0.024 L3.363,0.024 C1.714,0.024 0.372,1.368 0.372,3.021 L0.372,6.187 L0.372,12.537 C0.372,14.190 1.714,15.534 3.363,15.534 L12.857,15.534 C14.506,15.534 15.848,14.190 15.848,12.537 L15.848,6.187 L15.848,3.021 C15.848,1.368 14.506,0.024 12.857,0.024 ZM13.515,2.083 L13.783,2.082 L13.783,2.349 L13.783,4.142 L11.738,4.148 L11.732,2.089 L13.515,2.083 ZM8.110,5.184 C10.256,5.184 10.699,7.203 10.699,7.779 C10.699,9.209 9.537,10.373 8.110,10.373 C6.682,10.373 5.521,9.209 5.521,7.779 C5.521,7.203 5.964,5.184 8.110,5.184 ZM13.797,12.091 C13.797,12.856 13.172,13.478 12.404,13.478 L3.820,13.478 C3.053,13.478 2.428,12.856 2.428,12.091 L2.428,6.215 L4.446,6.215 C4.258,6.674 4.153,7.301 4.153,7.827 C4.153,10.008 5.935,11.785 8.125,11.785 C10.316,11.785 12.097,10.008 12.097,7.827 C12.097,7.301 11.991,6.674 11.804,6.215 L13.797,6.215 L13.797,12.091 Z"></path> </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="text-center mt-2">
          <a href="#">
            © Copyright 2020 Behave.rehab All rights reserved.
          </a>
        </div>
      </section>

      <!--Start of Tawk.to Script-->
      <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/5d11f62253d10a56bd7bbab0/default';
          s1.charset='UTF-8';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
        })();
      </script>
      <!--End of Tawk.to Script-->

      <%- unless flash.empty? %>
      <script type="text/javascript">
        <%- flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
        toastr['<%= type %>']('<%= f[1] %>');
        <%- end %>
        toastr.options = {
          "closeButton": true,
          "debug": false,
          "newestOnTop": false,
          "progressBar": true,
          "positionClass": "toast-top-right",
          "preventDuplicates": false,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
      </script>

      <%- end %>
    </body>
    </html>
